# API Configuration
# Para dispositivos físicos usa tu IP local (ej. http://10.0.0.5:1234)
# Para emulador Android usa http://10.0.2.2:1234
EXPO_PUBLIC_API_URL=http://localhost:1234

# Environment
EXPO_PUBLIC_ENV=development
