# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (generadas por prebuild)
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# env (NO commitear secretos; usar .env.example)
.env
.env.*
!.env.example

# editor
.vscode/

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
